:global(.list)
  width: em(200)
  height: 100%
  overflow-x auto
  list-style none
  background: main-color
  opacity: .1
  transition main-transition

  &:hover
    opacity: .9
    transition main-transition