{
  "env": {
    "production": {
      "presets": [
        "es2016",
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-function-bind",
        "transform-export-extensions",
        "transform-react-remove-prop-types",
        "transform-async-to-generator",
        "react-hot-loader/babel"
      ]
    },
    "development": {
      "presets": [
        "es2016",
        [
          "es2015",
          {
            "loose": true,
            "modules": "commonjs"
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-function-bind",
        "transform-async-to-generator"
      ]
    },
    "node": {
      "presets": [
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-function-bind",
        "transform-export-extensions",
        "transform-es2015-modules-commonjs",
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "Actions": "./src/actions",
            "Api": "./src/api",
            "Middlewares": "./src/middlewares",
            "Components": "./src/components",
            "Constants": "./src/constants",
            "Containers": "./src/containers",
            "Reducers": "./src/reducers",
            "Styles": "./src/style-resources",
            "InitialState": "./src/test-initial-state"
          }
        }]
      ]
    }
  }
}