lists()
  width: em(200)
  height: 100%
  overflow-x auto
  list-style none
  background: main-color
  opacity: .1
  transition main-transition

  &:hover
    opacity: .9
    transition main-transition

lists-item()
  min-height em(50)
  border-bottom: 1px solid second-color

  &:not(:last-child)
    border-bottom: none